<mat-card>
  <mat-card-header>
    <mat-card-title>User management</mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form [formGroup]="userDataForm" (ngSubmit)="onSubmit()">
      <!-- First name -->
      <mat-label>First Name:</mat-label>
      <mat-form-field class="full">
        <input matInput [formControl]="firstNameControl" />
        <mat-error *ngIf="emailControl.invalid">{{ getNameErrorMessage() }}</mat-error>
      </mat-form-field>

      <!-- Last name -->
      <mat-label>Last Name:</mat-label>
      <mat-form-field class="full">
        <input matInput formControlName="lastName" />
      </mat-form-field>

      <!-- Date picker -->
      <mat-label>Date of birth:</mat-label>
      <mat-form-field>
        <input matInput readonly [matDatepicker]="picker" formControlName="dateOfBirth" (dateChange)="date($event)" />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <!-- Email -->
      <mat-label>Emails:</mat-label>
      <br />
      <div formArrayName="emails">
        <div *ngFor="let item of emailForms.controls; let i = index">
          <div [formGroupName]="i">
            <mat-form-field class="xs">
              <mat-label>Email {{ i + 1 }}</mat-label>
              <input matInput formControlName="email" />

              <button
                mat-button
                matSuffix
                mat-stroked-button
                color="warn"
                #tooltip="matTooltip"
                matTooltip="Delete Email"
                (click)="deleteEmail(i)"
              >
                <mat-icon>remove</mat-icon>
              </button>
              <mat-error *ngIf="item.invalid">You must enter a valid email</mat-error>
            </mat-form-field>
          </div>
        </div>
        <button
          mat-button
          mat-stroked-button
          color="primary"
          #tooltip="matTooltip"
          matTooltip="Add Email"
          (click)="addEmail()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>

      <br />

      <!-- Address -->
      <mat-label>Address:</mat-label>
      <mat-form-field class="full">
        <input matInput formControlName="address" />
      </mat-form-field>

      <!-- Submit -->
      <div class="button-wrapper">
        <button mat-flat-button color="primary" [disabled]="!userDataForm.valid">Add new user</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
